In [1]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [16]:
state_elasticity = pd.read_csv('../data/elasticity-by-state.csv')
district_elasticity = pd.read_csv('../data/elasticity-by-district.csv')
pvi = pd.read_csv('../data/PVI.csv')
states = pd.read_csv('../data/states.csv')
districts = pd.read_csv('../data/redistricting-atlas-data/districts.csv')

In [4]:
state_elasticity.head()

  state  elasticity
0    AK        1.16
1    RI        1.15
2    NH        1.15
3    MA        1.15
4    ME        1.13

In [8]:
state_elasticity.shape

(51, 2)

In [6]:
district_elasticity.head()

  district  elasticity
0     MI-5        1.24
1     IL-8        1.22
2     NV-4        1.22
3     MA-1        1.22
4     MA-6        1.21

In [7]:
district_elasticity.shape

(435, 2)

In [19]:
pvi.head(10)

    Dist            Incumbent   PVI  Clinton %  Trump %  Obama %  Romney %
0  AL-01    Bradley Byrne (R)  R+15       33.8     63.0     37.3      61.7
1  AL-02      Martha Roby (R)  R+16       32.8     64.5     36.4      62.8
2  AL-03      Mike Rogers (R)  R+16       31.9     64.8     36.7      62.2
3  AL-04  Robert Aderholt (R)  R+30       17.3     79.8     23.9      74.7
4  AL-05        Mo Brooks (R)  R+18       30.9     63.7     34.8      63.7
5  AL-06      Gary Palmer (R)  R+26       25.8     69.6     24.6      74.3
6  AL-07     Terri Sewell (D)  D+20       69.5     28.3     72.5      27.0
7  AK-AL        Don Young (R)   R+9       36.6     51.3     40.8      54.8
8  AZ-01   Tom O'Halleran (D)   R+2       46.0     47.0     47.9      50.4
9  AZ-02  Ann Kirkpatrick (D)   R+1       48.7     43.9     48.4      49.9

In [11]:
pvi.shape

(435, 7)

In [12]:
pvi.tail()

      Dist              Incumbent   PVI  Clinton %  Trump %  Obama %  Romney %
430  WI-05  Jim Sensenbrenner (R)  R+13       36.7     56.5     37.7      61.2
431  WI-06     Glenn Grothman (R)   R+8       38.2     54.8     45.7      53.0
432  WI-07         Sean Duffy (R)   R+8       36.9     57.2     47.7      50.8
433  WI-08     Mike Gallagher (R)   R+7       38.3     55.7     47.5      51.2
434  WY-AL         Liz Cheney (R)  R+25       21.9     68.2     27.8      68.6

In [13]:
pvi

      Dist              Incumbent   PVI  Clinton %  Trump %  Obama %  Romney %
0    AL-01      Bradley Byrne (R)  R+15       33.8     63.0     37.3      61.7
1    AL-02        Martha Roby (R)  R+16       32.8     64.5     36.4      62.8
2    AL-03        Mike Rogers (R)  R+16       31.9     64.8     36.7      62.2
3    AL-04    Robert Aderholt (R)  R+30       17.3     79.8     23.9      74.7
4    AL-05          Mo Brooks (R)  R+18       30.9     63.7     34.8      63.7
..     ...                    ...   ...        ...      ...      ...       ...
430  WI-05  Jim Sensenbrenner (R)  R+13       36.7     56.5     37.7      61.2
431  WI-06     Glenn Grothman (R)   R+8       38.2     54.8     45.7      53.0
432  WI-07         Sean Duffy (R)   R+8       36.9     57.2     47.7      50.8
433  WI-08     Mike Gallagher (R)   R+7       38.3     55.7     47.5      51.2
434  WY-AL         Liz Cheney (R)  R+25       21.9     68.2     27.8      68.6

[435 rows x 7 columns]

In [20]:
states.head(10)

,statefp,state,maptype,districts,county_splits,efficiency_gap,efficiency_gap_extra_seats,district_perimeters,state_perimeter,interior_perimeter_measure,compactness_rank
0,2,AK,Compact,1,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2,AK,Competitive,1,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,AK,Dem,1,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2,AK,GOP,1,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2,AK,MajMin,1,0,NaN,NaN,NaN,NaN,NaN,NaN
5,2,AK,Proportional,1,0,NaN,NaN,NaN,NaN,NaN,NaN
6,2,AK,algorithmic-compact,1,0,NaN,NaN,NaN,NaN,NaN,NaN
7,2,AK,current,1,0,NaN,NaN,NaN,NaN,NaN,NaN
8,1,AL,Compact,7,5,-0.056726,D+0,55.396906,18.985614,18.205646,1.0
9,1,AL,Competitive,7,12,-0.056996,D+0,73.895997,18.985614,27.455192,6.0

In [17]:
districts.head()

,statefp,state,maptype,district,population,population_18_over,PVI,dem_chance,Non-Hispanic White,African-American,Hispanic/Latino,Asian,Native American,Pacific Islander,Other,race_category,minority_chance,current_map,impossible
0,2,AK,Compact,0,710231,522853,-9.39,5.409427,68.276743,3.084806,4.67378,5.332856,13.270078,0.859898,4.501838948997137%,Non-Hispanic White Majority,9.889405,NaN,NaN
1,2,AK,Competitive,0,710231,522853,-9.39,5.409427,68.276743,3.084806,4.67378,5.332856,13.270078,0.859898,4.501838948997137%,Non-Hispanic White Majority,9.889405,NaN,NaN
2,2,AK,Dem,0,710231,522853,-9.39,5.409427,68.276743,3.084806,4.67378,5.332856,13.270078,0.859898,4.501838948997137%,Non-Hispanic White Majority,9.889405,NaN,NaN
3,2,AK,GOP,0,710231,522853,-9.39,5.409427,68.276743,3.084806,4.67378,5.332856,13.270078,0.859898,4.501838948997137%,Non-Hispanic White Majority,9.889405,NaN,NaN
4,2,AK,MajMin,0,710231,522853,-9.39,5.409427,68.276743,3.084806,4.67378,5.332856,13.270078,0.859898,4.501838948997137%,Non-Hispanic White Majority,9.889405,NaN,NaN

In [18]:
districts.shape

(3480, 19)